.container {
  padding: 1em;
}

.formContainer {
  width: 100%;
  display: flex;
  margin-bottom: 1em;
}

.errorBox {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  background-color: var(--alert);
  color: var(--white);
  padding: 0.5em;
  border-radius: 8px;
  text-align: center;
}

.errorBox.show {
  opacity: 1;
}

.errorBox.hide {
  opacity: 0;
}
